Fruit-Database.rar
Test
Training
.vscode
papers
test-multiple_fruits
data
fruit_models
model
model_fruitdb
deepFruits_Datasets
Fruit_Database
X.pickle
y.pickle
logs
Fruit_Database-CNN-*
*.pyc
fruit_360
fruit_database
*.png
*.jpg